#addendums-list {
    margin-left: 20%;
    margin-right: 20%;
    padding: 30px;
    list-style-type: square;
    li {
        border-bottom: .5px solid #5C90C1;
        padding-top: 5px;
        padding-bottom: 10px;
        font-size: 18px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    @media (max-width: '768px') {
        margin: 0;
        padding: 30px;
    }
}

#addendums-blank {
    padding-top: 40px;
    border-bottom: .5px solid #5C90C1;
    padding-bottom: 10px;
    margin: 0 auto;
    text-align: center;

    @media (max-width: '768px') {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 20%;
    }
}