.case-label {
    // border-bottom: .5px solid #A3A2A2;
    color: #5C90C1;
    opacity: 50%;
}
.ribbon {
    background-color: rgb(226, 223, 223);
    border-radius: 8px;
    text-align: center;
    width: 40%;
    margin-left: auto;
    position: relative;
    right: -39px;
    padding: 5px 0 5px 0;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    font-weight: bolder;

    @media (max-width: '812px') {
        right: -20px;
        font-size: 14px;
    }
}

.modal-form {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .modal-text {
        resize: none;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 5px;
        border-radius: 5px;
    }

    @media (max-width: '768px') {
            width: 90%;
    }
}

.activeNavButton{
    border-bottom: 3px solid
}

.modalBox{
    display:flex;

}
.caseDetails{
    display:flex;
    flex-direction: row;
    padding:30px;
    margin:0 auto;
    justify-content: space-evenly;
    align-items: center;
    word-wrap: break-word;
    max-width: 1500px;
    @media (max-width: '700px') {
       flex-direction: column;
       justify-content: space-between;
    }

    .general{
        align-self: center;
        overflow-y: auto;
        min-width: 45%;
        min-height:40vh;
        max-height:40vh;
        max-width: 500px;
        padding:20px;
        margin-left: 10px;
        border-style: solid;
        border-width: 1px;
        border-color:#5C90C1;
        box-shadow: rgba(0, 0, 0, 0.22) 0px 4px 4px ;
        overflow-wrap: break-word;
        @media (max-width: '700px') {
            max-width:300px;
            min-width: 95%;
            max-height: 300px;
            margin: 0;
            max-height:30vh;
            margin-bottom:30px;
         }
    }
    .description{
        align-self: center;
        overflow-y: auto;
        min-width: 45%;
        max-width: 500px;
        min-height:40vh;
        max-height:40vh;
        padding:20px;
        margin-left: 40px;
        overflow-wrap: break-word;
        border-style: solid;
        border-width: 1px;
        border-color:#5C90C1;
        box-shadow: rgba(0, 0, 0, 0.22) 0px 4px 4px;

        @media (max-width: '700px') {
            max-width:300px;
            min-width: 95%;
            max-height: 300px;
            margin:0;
            padding-bottom: 10px;
        }
    }
}

.description:hover,.general:hover  {
    box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
    transform: translate3d(0px, -1px, 0px);

  }

#trashButton
{
    margin-left:auto !important;
    margin-right:0 !important;
    border:none !important;
}
#exitButton{
    margin-left:0 !important;
    margin-right:0 !important;
}


#tabpanel-0 {
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

#tabpanel-1 {
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
