#content-div {
    display: flex;
    flex-direction: row !important;
    justify-content: flex-start !important;
    flex-wrap: nowrap;
    width: 100%;

    .mediator-info {
        width: 35%;
        // padding-right: 10px;
    }

    #left {
            margin-left: 20px;
            border-left: 5px ridge #A3A2A2;
        .left-list {
            width: 100%;
            .left-list-item {
                border-right: .5px solid #A3A2A2;
                border-bottom: .5px solid #A3A2A2;
                padding: 10px;

                &:first-child {
                    border-top: .5px solid #A3A2A2;
                }
            }
        }
    }
    #right {
            // padding-right: 30px;
            border-right: 5px groove #A3A2A2;
        .right-list-item {
            width: 100%;
            padding: 10px;
            border-bottom: .5px solid #A3A2A2;

            &:first-child {
                border-top: .5px solid #A3A2A2;
            }
        }
    }
}

