#case-label {
    border-bottom: .5px solid #A3A2A2;
    color: #A3A2A2;
    opacity: 50%;
}

#case-description {
    height: 75px;
    overflow: hidden;
}


.modal-form { 
    display: flex;
    flex-direction: column;
    justify-content: center;

    .modal-text { 
        resize: none;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 5px;
        border-radius: 5px;
    }

    @media (max-width: '768px') {
            width: 90%;
    }
}

.activeNavButton{
    border-bottom: 3px solid
}

.modalBox{
    display:flex;

}
.caseDetails{
    display:flex;
    flex-direction: row;
    margin:30px;
    border:3px black;
    justify-content: space-evenly;
    align-items: center;
    .general{
    align-self: center;
    max-width:4000px;
    }
    .description{
    align-self: center;
    max-width:400px;
    }
}