#case-label {
    border-bottom: .5px solid #A3A2A2;
    color: #A3A2A2;
    opacity: 50%;
}

#case-description {
    height: 75px;
    overflow: hidden;
}


.modal-form { 
    display: flex;
    flex-direction: column;
    justify-content: center;

    .modal-text { 
        resize: none;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 5px;
        border-radius: 5px;
    }

    @media (max-width: '768px') {
            width: 90%;
    }
}

.activeNavButton{
    border-bottom: 3px solid
}

.modalBox{
    display:flex;

}
.caseDetails{
    display:flex;
    flex-direction: row;
    padding:30px;
    justify-content: space-evenly;
    align-items: center;
    word-wrap: break-word;
    @media (max-width: '700px') {
       flex-direction: column;
       justify-content: space-between;
    }
  
    .general{
        align-self: center;
        overflow-y: auto;
        max-width:400px;
        min-width: 45%;
        max-height:50vh;
        padding:20px;
        border-style: solid;
        min-height:40vh;
        border-width: 5px;
        border-color:#5C90C1;
        text-align: center;
        margin-right: 10px;
        @media (max-width: '700px') {
            max-width:300px;
            min-width: 90%;
            max-height: 300px;
            margin: 0;
            max-height:30vh;
         }
    }
    .description{
        align-self: center;
        overflow-y: auto;
        max-width:500px;
        min-width: 45%;
        min-height:40vh;
        max-height:50vh;
        padding:20px;
        margin-left: 10px;
        border-style: solid;
        border-width: 5px;
        border-color:#5C90C1;
        overflow-wrap: break-word;
        @media (max-width: '700px') {
            max-width:300px;
            min-width: 90%;
            max-height:30vh;
            max-height: 300px;
            margin: 0;
        }
    }
}

#tabpanel-0 {
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

#tabpanel-1 {
    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}