.bg-white {
  background-color: #FFF;
}

.bg-brav {
  background-color: #ECF6FF;
}

.bg-brav-light {
  background-color: #ECF6FF;
}

.bg-brav-secondary {
  background-color: #A3A2A2;
}

.bg-brav-primary {
  background-color: #5C90C1;
}

.bg-brav-danger {
  background-color: #E55557;
}
