@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }


.landing {
    z-index: -1;
    background-image: url('./images/earth.jpg');
    background-repeat: no-repeat;
    background-position: bottom-left;
    background-size: cover;
    height: 100vh;
}
.landingNav{
   
}
.brav-logo {
    width: 200px;
    position: relative;
    margin: auto 0;
}
.login {
   
}

.nav{
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 20px;
    background-color: #598EBF;
    width: 100vw;
    position: fixed;
    animation: 2s ease-out 0s 1 slideInFromLeft;
}
.cover2{
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 100px;
   flex-direction: column
}
.cover{
    width:80%;
    text-align: center;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}
h2{
    // position: absolute;
    color: white;
    text-align: center;
    padding-top: 20px;
    font-size: 3.5vw;

   
}
.how{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.howContent{
   

}
#sign-up{
position: relative !important;
}
