.navbar {
    display:flex;
    justify-content: flex-end;
    width: 100%;
    background-color: transparent;
    z-index:10;
}

.bravHeader {
    display: flex;
    color: white;
    text-align: center;
    margin: 0;
    background-color: #598EBF;
    height: 100%;
    align-items: center;
    justify-content: center;
}


.bravLogo {
    @media (max-width: '600px') {
        display: none;
    }
}

